<div class="about-container">
    <h2>Сейчас мы расскажем немного о себе!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis eum id iure, minima perspiciatis repellendus saepe unde voluptates voluptatibus voluptatum? Ab aliquid asperiores aspernatur atque consequuntur corporis, culpa debitis delectus distinctio dolor, dolorum eius eligendi explicabo fugiat in laudantium magni maiores modi nam neque nesciunt nisi nulla omnis optio placeat possimus quas quo quos, sit tempora temporibus totam vel velit veniam veritatis voluptas voluptatibus!
    </p>
    <h1>проще говоря just json</h1>
  </div>
  