#share {
  color: white;
}
#buttonShare{
  width: 68px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #6f6d68;
}

#name {
  margin-top: 15px;
}
img {
  width: 355px;
  border: 1px solid #7b6e54;
  border-radius: 10px;
}

.categories {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description {
  width: 697px;
}


a {
  color: #574a2d;
  font-weight: bolder;
}
p {
  font-weight: bold;
  color: #574a2d;
}



.categories-button {
  margin: 10px;
  margin-bottom: 20px;
  color: black;
  background-color: #ffe9b9;
  position: relative;
}
#categoriesNames {
  font-size: 22px;
}

.categories-button:active {
  transform: none;
  outline: none;
}

.Items {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 10px;
  background-color: #fff2d6;
  margin-bottom: 10px;
  margin-left: 300px;
  margin-right: 300px;
  
  padding-left: 10px;
  align-items: center;
}



#buttonShareWhatsapp {
  background-color: #25d366; 
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
}


#buttonShareTelegram {
  background-color: #0088cc; 
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-right: 5px;
  cursor: pointer;
}

#buttonShareWhatsapp a,
#buttonShareTelegram a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#likesButton {
  background-color: #ff1100;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}


